{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <!-- HEADER-SECTION -->
    <div class="banner-container-box-comming-soon">
        <div class="about-right-icon position-relative aos-init aos-animate" data-aos="fade-up-right">
            <figure class="whyus-icon"><img src="{% static 'webapp/assets/images/about-us-section-right-icon.png' %}" alt=""
                                            class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4">
                    <figure class="comming-soon-logo">
                        <img src="{% static 'webapp/assets/images/redlight-logo.png' %}" alt="" class="img-fluid">
                    </figure>
                    <h1>Our Website is Under Construction</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                </div>
            </div>
            <!-- row2 -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4">
                    <h5>Subscribe to our Newsletter</h5>
                    <div class="input-group mb-3 input-field-form">
                        <input type="text" class="form-control input-form-input" placeholder="Enter your email address">
                        <div class="input-group-append form-button">
                            <button class="btn btn-form-section" type="submit"><i
                                    class="fa-solid fa-envelope"></i></button>
                        </div>
                    </div>
                    <p class="comming-soon-footer">Redlight ©2021 - All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'webapp/assets/js/animations.js'%}"></script>
    <script src="{% static 'webapp/assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'webapp/assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'webapp/assets/js/popper.min.js'%}"></script>
    <script src="{% static 'webapp/assets/js/custom-script.js'%}"></script>
    <script src="{% static 'webapp/assets/js/owl.carousel.js'%}"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script>
        AOS.init({
            duration: 1000,
            offset: 120,
            easing: 'ease-in-out'
        })
    </script>

{% endblock %}