{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <!-- BANNER SECTION -->
  {% include 'blog/three-column-sidebar/banner.html' %}

  <!-- MAIN SECTION -->
  <section class="blog-posts overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 col-lg-9">
          {% include 'blog/three-column-sidebar/post_blocks.html' %}
        </div>
        <div class="sidebar sticky-sidebar col-lg-3">
          {% include 'blog/three-column-sidebar/sidebar.html' %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
