{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- PORTFOLIO_SECTION -->
<section class="portfolio-section-start portfolio-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Наше портфолио</h3>
                <p class="text-center">Разглядите наши последние проекты и достижения.</p>
            </div>
        </div>
        <div class="row">
            {% for project in portfolio %}
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="portfolio-content" data-aos="fade-up">
                        <div class="portfolio-image">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                        </div>
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.description | slice:":150" | safe }}</p>

                        <a href="{% url 'webapp:portfolio_detail' project.id %}" class="text-decoration-none">Подробнее <span class="forword-arrow"><i class="fa fa-angle-right"></i></span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="pagination-container">
            <span class="pagination-button">&laquo;</span>
            {% for page_num in page_range %}
                <span class="pagination-button{% if page_num == current_page %} active{% endif %}" data-page="{{ page_num }}">{{ page_num }}</span>
            {% endfor %}
            <span class="pagination-button">&raquo;</span>
        </div>
    </div>
</section>

    <!-- CYBER-SECURITY-SECTION -->
    <section class="cyber-security-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="cyber-content-img">
                        <figure class="mb-0"><img src="{% static 'webapp/assets/images/cyber-security-left-img.png' %}"
                                                  alt="" class="cyber-security-provider-img">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h3>Ведущие услуги <span class="web-development-text">веб-разработки</span></h3>
                    <p class="security-services-p">Превратите ваши идеи в реальность с MEGA CRUD - вашим надежным
                        партнером в сфере веб-разработки. Наша команда экспертов готова создать инновационные и удобные
                        веб-сайты, соответствующие вашим уникальным потребностям. Мы специализируемся на создании
                        динамичных веб-решений с использованием передовых технологий.</p>
                    <p class="security-services-p web-development-p-margin-bottom">Будь то корпоративный сайт,
                        интернет-магазин или индивидуальное веб-приложение, мы вас поддержим. В MEGA CRUD мы стремимся к
                        совершенству, предоставляя высококачественные и масштабируемые решения, которые поднимут ваше
                        онлайн-присутствие на новый уровень.</p>
                    <div class="web-development-contact-btn">
                        <a href="contact.html" class="text-decoration-none">Свяжитесь с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- boxes-section -->
<div class="about-us-section-start cyber-boxes-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="about-us-content" data-aos="fade-up">
                    <div class="icons-rounded-box">
                        <figure class="mb-0"><img src="{% static 'webapp/assets/images/cyber-section-icon1.png' %}" alt="">
                        </figure>
                    </div>
                    <h3 class="counetr-heading"><span class="counter">3325</span><span class="cyber-counter">+</span></h3>
                    <h5 class="cyber-boxes-text">Глобальные Проекты</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="about-us-content" data-aos="fade-up">
                    <div class="icons-rounded-box">
                        <figure class="mb-0 icon-color"><img src="{% static 'webapp/assets/images/cyber-section-icon2.png' %}" alt="">
                        </figure>
                    </div>
                    <h3 class="counetr-heading"><span class="counter">4579</span><span class="cyber-counter clients-protect">+</span>
                    </h3>
                    <h5 class="cyber-boxes-text">Защищенные Клиенты</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="about-us-content" data-aos="fade-up">
                    <div class="icons-rounded-box">
                        <figure class="mb-0"><img src="{% static 'webapp/assets/images/cyber-section-icon3.png' %}" alt="">
                        </figure>
                    </div>
                    <h3 class="counetr-heading"><span class="counter">100</span><span class="cyber-counter cyber-percent">%</span></h3>
                    <h5 class="cyber-boxes-text">Гарантия Сервиса</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="about-us-content" data-aos="fade-up">
                    <div class="icons-rounded-box">
                        <figure class="mb-0"><img src="{% static 'webapp/assets/images/cyber-section-icon4.png' %}" alt="">
                        </figure>
                    </div>
                    <h3 class="counetr-heading"><span class="counter">7845</span><span class="cyber-counter expert-team">+</span></h3>
                    <h5 class="cyber-boxes-text">Экспертная Команда</h5>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Clients_section -->
    <section class="clients-section clients-section-right-img1">
        <div class="position-relative">
            <figure class="about2-left-img"><img src="{% static 'webapp/assets/images/about-section2-left-img.png' %}"
                                                 alt="" class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="text-center">What Clients Say</h3>
                    <p class="text-center client-section-main-p">Lorem ipsum dolor sit amet consectetuer adipiscing
                        elitenean commodo
                        ligula eget dolorenean massa.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="clients-outer-box  position-relative" data-aos="fade-up">
                        <figure class="clients-outer-box-figure"><img
                                src="{% static 'webapp/assets/images/client-section-img1.png' %}" alt=""></figure>
                        <figure class="position-absolute icon-figure-quotes"><img
                                src="{% static 'webapp/assets/images/quotes-icon.png' %}" alt=""></figure>
                        <div class="clients-right-content" data-aos="fade-up">
                            <span class="spencer-span">Spencer Simpson</span>
                            <span class="ceo-p">CEO - Company</span>
                        </div>
                        <p class="clients-sectionp2">Lorem ipsum dolor sit amet consectetuer adipiscing elitenea ncom
                            modo ligula eget dolor aenean massa cum sociis nato que penatibus etmagnis dis parturient
                            montes </p>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="clients-outer-box  position-relative" data-aos="fade-up">
                        <figure class="clients-outer-box-figure"><img
                                src="{% static 'webapp/assets/images/client-section-img2.png' %}" alt=""></figure>
                        <figure class="position-absolute icon-figure-quotes"><img
                                src="{% static 'webapp/assets/images/quotes-icon.png' %}" alt=""></figure>
                        <div class="clients-right-content" data-aos="fade-up">
                            <span class="spencer-span">Spencer Simpson</span>
                            <span class="ceo-p">CEO - Company</span>
                        </div>
                        <p class="clients-sectionp2">Lorem ipsum dolor sit amet consectetuer adipiscing elitenea ncom
                            modo ligula eget dolor aenean massa cum sociis nato que penatibus etmagnis dis parturient
                            montes </p>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="clients-section-btn">
                <a href="teams.html" class="text-decoration-none">View All Review</a>
            </div>
        </div>
    </section>





{% endblock %}