{% extends 'main/base.html' %}
{% load static %}

{% block content %}

     <!--PRICING-PLAN_SECTION -->
<section class="about-us-section-start pricing-plan-section pricing-page overflow-hidden">
    <div class="container">
        <div class="row">
            {% for plan in plans %}
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="about-us-content" data-aos="fade-up">
                    <div class="icons-rounded-box">
                        <figure class="mb-0"><img src="{{ plan.image.url }}" alt="{{ plan.title }}">
                        </figure>
                    </div>
                    <h4 class="pricing-plan-h4">{{ plan.title }}</h4>
                    <h3 class="pricing-plan-color">${{ plan.price }}<span class="pricing-free-text">{{ plan.price_description }}</span></h3>
                    <p class="pricing-plan-color-p">{{ plan.description|safe }}<span class="pricing-free-text">{{ plan.price_description }}</span></p>
                    <div class="order-now-btn">
                        <a href="pricing.html" class="text-decoration-none ">Order Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

     <!-- ICONS_SECTION -->
     <section class="icons-section icons-section-services overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center p-0" data-aos="fade-up-right">Trusted Over 2300+ Companies in the World</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img src="{% static 'webapp/assets/images/companies-icon1.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img src="{% static 'webapp/assets/images/companies-icon2.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0  mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 comapanies-icon-margin-hype icons-mb"><img src="{% static 'webapp/assets/images/companies-icon3.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 comapanies-icon-margin-3"><img src="{% static 'webapp/assets/images/companies-icon4.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 comapanies-icon-margin-3"><img
                                src="{% static 'webapp/assets/images/companies-icon5.png' %}" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box" data-aos="fade-up">
                        <figure class="mb-0 mt-0 comapanies-icon-margin-3 companies-icon6"><img
                                src="{% static 'webapp/assets/images/companies-icon6.png' %}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!--Accordian-Section -->
 <section class="cyber-security-section accordian-section pricing-accordian overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="faq-content-img">
                    <figure class="mb-0"><img src="{% static 'webapp/assets/images/accordian-left-img.png' %}" alt="" class="">
                    </figure>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="cyber-content accordian-text">
                    <h3>General Questions Frequently Asked Questions?</h3>
                    <div class="accordian-inner">
                        <div id="accordion1">
                            <div class="accordion-card">
                                <div class="" id="headingFour">
                                    <a href="#" class="btn btn-link text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        <h5 class="faq-btn-text">How Can I Safely Browse The Internet?</h5>
                                </a>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Lorem ipsum dolor sit amet consectetuer adipiscing elitenean
                                            commo doligula eget dolorenean massaIn enim justo, rhoncus ut,
                                            imperdiet avene natis vitae justo nullam dictum felis eu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion2">
                            <div class="accordion-card">
                                <div class="" id="headingFive">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        <h5 class="faq-btn-text">How Does Secuvant's Co-managed Security
                                            Model Work?</h5>
                                        </a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Lorem ipsum dolor sit amet consectetuer adipiscing elitenean
                                            commo doligula eget dolorenean massaIn enim justo, rhoncus ut,
                                            imperdiet avene natis vitae justo nullam dictum felis eu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion3">
                            <div class="accordion-card">
                                <div class="" id="headingSix">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">
                                        <h5 class="faq-btn-text">What Type Frequency Of Alerts And
                                            Notifications
                                            Will Receive?</h5>
                                        </a>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Lorem ipsum dolor sit amet consectetuer adipiscing elitenean
                                            commo doligula eget dolorenean massaIn enim justo, rhoncus ut,
                                            imperdiet avene natis vitae justo nullam dictum felis eu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="cyber-content accordian-text">
                    <div class="accordian-inner">
                        <div id="accordion4">
                            <div class="accordion-card">
                                <div class="" id="headingSeven">
                                    <a href="#" class="btn btn-link collapsed text-decoration-none" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        <h5 class="faq-btn-text">How Is Our Data Stored And Protected And
                                            For
                                            How Long?</h5>
                                        </a>
                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
                                    <div class="card-body">
                                        <p class="text-left accordian-text-color">
                                            Lorem ipsum dolor sit amet consectetuer adipiscing elitenean
                                            commo doligula eget dolorenean massaIn enim justo, rhoncus ut,
                                            imperdiet avene natis vitae justo nullam dictum felis eu.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
