{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <!-- Pricing_section -->
  {% include 'webapp/pricing_plan_section.html' %}


    <!-- ICONS_SECTION -->
    <section class="icons-section icons-section-services overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center p-0">Trusted Over 2300+ Companies in the World</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img
                                src="{% static 'webapp/assets/images/companies-icon1.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 comapanies-icon-margin icons-mb"><img
                                src="{% static 'webapp/assets/images/companies-icon2.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0  mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 comapanies-icon-margin-hype icons-mb"><img
                                src="{% static 'webapp/assets/images/companies-icon3.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 comapanies-icon-margin-3"><img
                                src="{% static 'webapp/assets/images/companies-icon4.png' %}"
                                alt=""></figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 comapanies-icon-margin-3"><img
                                src="{% static 'webapp/assets/images/companies-icon5.png' %}" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 mb-md-0 mb-4 text-center d-table align-items-center">
                    <div class="logo-box">
                        <figure class="mb-0 mt-0 comapanies-icon-margin-3 companies-icon6"><img
                                src="{% static 'webapp/assets/images/companies-icon6.png' %}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-Security-Option -->
    <section class="Services-Security-Option  Services-Security-Option-services-page overflow-hidden">
        <div class="about-right-icon position-relative">
            <figure class="whyus-icon"><img src="{% static 'webapp/assets/images/about-us-section-right-icon.png' %}"
                                            alt="" class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-md-0 mb-4">
                    <div class="about-us-section-page" data-aos="fade-up">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <h3>24/7 Cyber Security Operation Center</h3>
                                <p>Lorem ipsum dolor sit amet consectetuer adipiscing
                                    elitenean commodoligula egetmassa.</p>
                                <ul class="list-unstyled about-us-list">
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="index.html"
                                                                                   class="text-decoration-none list-text">Website
                                        Security Services</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="index.html"
                                                                                   class="text-decoration-none list-text">SIEM
                                        Threat Detection</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="about.html"
                                                                                   class="text-decoration-none list-text">Content
                                        Delivery Network</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="services.html"
                                                                                   class="text-decoration-none list-text">24/7
                                        Hours services</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="services.html"
                                                                                   class="text-decoration-none list-text">Security
                                        Management</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="case-studies.html"
                                                                                   class="text-decoration-none list-text">Instant
                                        Malware Removal</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="./contact.html"
                                                                                   class="text-decoration-none list-text">Website
                                        Hack Repair</a></li>
                                    <li><i class="fa-solid fa-shield-virus"></i><a href="./contact.html"
                                                                                   class="text-decoration-none list-text">Instant
                                        Malware Removal</a></li>
                                </ul>
                                <div class="banner-btn-about discover-btn-banner about-order-services"><a
                                        href="services.html" class="text-decoration-none">Order Services</a>
                                    <a href="" class="text-decoration-none play-button">Free Quote</a></div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="about-section-img">
                                    <figure class="mb-0"><img
                                            src="{% static 'webapp/assets/images/about-us-page-right-img.png' %}" alt=""
                                            class="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Clients_section -->
    <section class="clients-section services-clients-section">
        <div class="about-right-icon position-relative">
            <figure class="about2-left-img"><img src="{% static 'webapp/assets/images/about-section2-left-img.png' %}"
                                                 alt="" class="img-fluid">
            </figure>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="text-center">What Clients Say</h3>
                    <p class="text-center client-section-main-p">Lorem ipsum dolor sit amet consectetuer adipiscing
                        elitenean commodo
                        ligula eget dolorenean massa.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="clients-outer-box  position-relative" data-aos="fade-up">
                        <figure class="clients-outer-box-figure"><img
                                src="{% static 'webapp/assets/images/client-section-img1.png' %}" alt=""></figure>
                        <figure class="position-absolute icon-figure-quotes"><img
                                src="{% static 'webapp/assets/images/quotes-icon.png' %}" alt=""></figure>
                        <div class="clients-right-content">
                            <span class="spencer-span">Spencer Simpson</span>
                            <span class="ceo-p">CEO - Company</span>
                        </div>
                        <p class="clients-sectionp2">Lorem ipsum dolor sit amet consectetuer adipiscing elitenea ncom
                            modo ligula eget dolor aenean massa cum sociis nato que penatibus etmagnis dis parturient
                            montes </p>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="clients-outer-box  position-relative" data-aos="fade-up">
                        <figure class="clients-outer-box-figure"><img
                                src="{% static 'webapp/assets/images/client-section-img2.png' %}" alt=""></figure>
                        <figure class="position-absolute icon-figure-quotes"><img
                                src="{% static 'webapp/assets/images/quotes-icon.png' %}" alt=""></figure>
                        <div class="clients-right-content">
                            <span class="spencer-span">Spencer Simpson</span>
                            <span class="ceo-p">CEO - Company</span>
                        </div>
                        <p class="clients-sectionp2">Lorem ipsum dolor sit amet consectetuer adipiscing elitenea ncom
                            modo ligula eget dolor aenean massa cum sociis nato que penatibus etmagnis dis parturient
                            montes </p>
                        <ul class="list-unstyled">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="clients-section-btn">
                <a href="teams.html" class="text-decoration-none">View All Review</a>
            </div>
        </div>
    </section>
{% endblock %}
