{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <!-- ABOUT-TEAM-SECTION -->
    <section class="about-us-section-start about-teams-section about-page-teams teams-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-teams-inner"  data-aos="zoom-out-left">
                        <div class="about-team">
                            <div class="icons-rounded-box">
                                <figure class="mb-0"><img src="{% static 'webapp/assets/images/about-team-img1.png' %}" alt=""
                                        class="img-fluid teams-img-border">
                                </figure>
                            </div>
                        </div>
                        <h4 class="about-team-members-h4">Eric T. Parker</h4>
                        <p class="about-team-title">Network Security</p>
                        <p class="teams-section-p">Lonec pede justo, fringilla vel, aliquet nec vulputate eget arcu.
                        </p>
                        <div class="social-icons teams-social-icons">
                            <ul class="list-unstyled">
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-linkedin social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-teams-inner"  data-aos="zoom-out-left">
                        <div class="about-team">
                            <div class="icons-rounded-box">
                                <figure class="mb-0"><img src="{% static 'webapp/assets/images/about-team-img2.png' %}" alt=""
                                        class="img-fluid teams-img-border">
                                </figure>
                            </div>
                        </div>
                        <h4 class="about-team-members-h4">Shira Rubinoff</h4>
                        <p class="about-team-title">Security Executive</p>
                        <p class="teams-section-p">Donec pede justo, fringilla vel, aliquet nec vulputate eget arcu.</p>

                        <div class="social-icons teams-social-icons">
                            <ul class="list-unstyled">
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-linkedin social-networks"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="about-teams-inner"  data-aos="zoom-out-left">
                        <div class="about-team">
                            <div class="icons-rounded-box">
                                <figure class="mb-0"><img src="{% static 'webapp/assets/images/about-team-img3.png' %}" alt=""
                                        class="img-fluid teams-img-border">
                                </figure>
                            </div>
                        </div>
                        <h4 class="about-team-members-h4">Steve Morgan</h4>
                        <p class="about-team-title">Security Technologist</p>
                        <p class="teams-section-p">Ronec pede justo, fringilla vel, aliquet nec vulputate eget arcu.</p>
                        <div class="social-icons teams-social-icons">
                            <ul class="list-unstyled">
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                <li><a href="" class="text-decoration-none"><i
                                            class="fa-brands fa-linkedin social-networks"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row2 -->
            <div class="teams-section2">
                <div class="about-right-icon position-relative">
                    <figure class="whyus-icon"><img src="{% static 'webapp/assets/images/about-us-section-right-icon.png' %}" alt=""
                            class="img-fluid">
                    </figure>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="about-teams-inner"  data-aos="fade-up"> 
                            <div class="about-team">
                                <div class="icons-rounded-box">
                                    <figure class="mb-0"><img src="{% static 'webapp/assets/images/teams-img4.png' %}" alt=""
                                            class="img-fluid teams-img-border">
                                    </figure>
                                </div>
                            </div>
                            <h4 class="about-team-members-h4">Joannie Lebsack</h4>
                            <p class="about-team-title">Cyber Security</p>
                            <p class="teams-section-p">Ronec pede justo, fringilla vel, aliquet nec vulputate eget arcu.</p>
                            <div class="social-icons teams-social-icons">
                                <ul class="list-unstyled">
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-linkedin social-networks"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="about-teams-inner"  data-aos="fade-up">
                            <div class="about-team">
                                <div class="icons-rounded-box">
                                    <figure class="mb-0"><img src="{% static 'webapp/assets/images/teams-img5.png' %}" alt=""
                                            class="img-fluid teams-img-border">
                                    </figure>
                                </div>
                            </div>
                            <h4 class="about-team-members-h4">Marty Schaefer</h4>
                            <p class="about-team-title">CLoud Security</p>
                            <p class="teams-section-p">Ronec pede justo, fringilla vel, aliquet nec vulputate eget arcu.</p>
    
                            <div class="social-icons teams-social-icons">
                                <ul class="list-unstyled">
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-linkedin social-networks"></i></a></li>
                                </ul>
                            </div>
    
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="about-teams-inner"  data-aos="fade-up">
                            <div class="about-team">
                                <div class="icons-rounded-box">
                                    <figure class="mb-0"><img src="{% static 'webapp/assets/images/teams-img6.png' %}" alt=""
                                            class="img-fluid teams-img-border">
                                    </figure>
                                </div>
                            </div>
                            <h4 class="about-team-members-h4">Rebeka Gaylord</h4>
                            <p class="about-team-title">Web Security</p>
                            <p class="teams-section-p">Ronec pede justo, fringilla vel, aliquet nec vulputate eget arcu.</p>
                            <div class="social-icons teams-social-icons">
                                <ul class="list-unstyled">
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-facebook  social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-square-twitter social-networks"></i></a></li>
                                    <li><a href="" class="text-decoration-none"><i
                                                class="fa-brands fa-linkedin social-networks"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}